{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}
{<div style="display:inline;">

<span style="color:white">
        {{ app.user }}
        &nbsp;|&nbsp;
        <a href="{{ path('logout') }}">Sign Out</a>
<span>
</div>}
