
 <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>LISTADO <small>Registro de Productos de Ingreso</small></h2>
                   

                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">PRODUCTO</th>
                <th class="column-title">CANTIDAD</th>
                <th class="column-title">ESTADO</th>
                <th class="column-title">OPCIONES</th>
            </tr>
        </thead>
        <tbody>
        {% for labAlmDetalleegreso in labAlmDetalleegresos %}
            <tr>
                <td>{{ labAlmDetalleegreso.productolab.producto.nombre }}</td>
                <td>{{ labAlmDetalleegreso.cantidad }}</td>
                <td>{% if labAlmDetalleegreso.estado== 1%}<span>En proceso</span>{% else %}<span>Confirmado</span>{% endif%}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="">MOSTRAR</a>
                        </li>
                        <li>
                            <a href="{{ path('labalmdetalleegreso_edit', { 'id': labAlmDetalleegreso.id }) }}">EDITAR</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>
</div>
</div>
